.checkbox {
    display: flex;
    margin-left: 226px;

    &__icon {
        height: 20px;
        width: 20px;
        fill: $color-checkbox;
    }

    &__text {
        padding-left: 30px;
    }
}
