.link {
    @extend a[class=''];
    display: block;

    &_white {
        color: $color-white;
        border-bottom: 1px solid currentColor;
    }

    &__arrow {
        &::after {
            content: '';
            display: inline-block;
            width: 8px;
            height: 8px;
            margin-left: 6px;
            position: relative;
            top: -1px;
            border-top: 1px solid $color-primary;
            border-right: 1px solid $color-primary;
            transform: rotate(45deg);
        }
    }

    &__arrow-icon {
        position: relative;
        top: -1px;
        margin-right: 18px;
        fill: currentColor;

        &::after {
            content: '';
            display: inline-block;
            width: 8px;
            height: 8px;
            margin-left: 6px;
            position: relative;
            bottom: 14px;
            left: 14px;
            border-top: 1px solid $color-primary;
            border-right: 1px solid $color-primary;
            transform: rotate(45deg);
        }
    }
}
