.nav {
    display: inline-flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-transform: uppercase;
    align-items: center;
    justify-content: flex-start;

    &__link {
        position: relative;
        @extend %transition;
        display: block;
        font-size: 18px;
        outline: none;
        margin: 8px 16px;
        text-decoration: none;
        transition-property: border-bottom;
        border-bottom: 2px solid transparent;
        color: $color-primary;

        &:first-child {
            margin-left: 0;
        }

        &:hover,
        &:focus,
        &:active {
            font-weight: 800;
            color: $color-primary-active-dark;
            border-bottom-color: currentColor;
        }
    }

    &_stock {
        display: flex;
        padding-bottom: 1px;

        &__bottom {
            border: 1px solid $color-white-line;
            border-right: none;
            width: 100%;
            background-color: $color-white;

            &:first-child {
                border-radius: 5px 0 0 5px;
            }

            &:last-child {
                border-right: 1px solid $color-gray;
                border-radius: 0 5px 5px 0;
            }
        }

        .nav__link {
            text-transform: none;
            font-size: 14px;
            margin: 8px 0;
            padding: 0 41px;
            border-bottom: none;
            white-space: nowrap;
            text-align: center;
        }
    }
}
