.promo {
    content: '';
    display: flex;
    align-items: center;
    height: 650px;
    position: relative;
    background-size: 120%;
    background-position: center -138px;

  &__block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    width: 501px;
    height: 275px;
    left: 586px;
    color: $color-primary;
    background-color: $color-white;
    text-align: center;
  }
}
