$header-height: 72px;
$content-margin-top: -$header-height;
$section-padding-top: 100px + $header-height;
$color-line: #ddd;

.root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    &__header {
        flex: 0 0 auto;
        height: $header-height;
        z-index: 1;
    }

    &__content {
        flex: 1 0 auto;
    }

    &__content-with-header {
        margin-top: $content-margin-top;
    }

    &__section-with-header {
        padding-top: $section-padding-top;
    }

    &__footer {
        flex: 0 0 auto;
    }

    &__text-align-center {
        text-align: center;
    }

    &__block {
        margin: 32px 0;
    }

    &__title {
        margin-bottom: 20px;
    }

    &__title-section-wrap {
        text-align: center;
        margin-bottom: 68px;
    }

    &__title-section {
        margin-bottom: 24px;
    }

    &__line {
        margin: 0 auto 20px;
    }

    &__line-header {
        border-bottom: 1px solid $color-gray-line;
    }

    &__subtitle {
        text-transform: capitalize;
        margin-bottom: 48px;
    }

    &__blog {
        & + & {
            margin-top: 32px;
            padding-top: 32px;
            border-top: 1px solid $color-line;
        }
    }

    &__row-content-center {
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    &__row-about {
        margin-bottom: 68px;
    }

    &__header-second {
        margin-top: 0;
        margin-bottom: -10px;
    }

    &__image-1 {
        width: 329px;
        height: 248px;
    }

    &__frame {
        content: '';
        position: absolute;
        width: 405px;
        height: 250px;

        background: linear-gradient(180deg, #e61c8a 0%, #ffbfe1 100%);
    }
}
