.section {
    padding: 100px 118px;
    background: no-repeat center / cover;
    background-position: 0 -110px;

    &_furst {
      padding: 0 118px;
    }

    &_bg_primary {
        color: $color-white;
        background-color: $color-primary;
    }

    &_bg_gray {
        background-color: $color-gray;
    }

    &_fill_primary,
    &_fill_dark {
        color: $color-white;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
        }
    }

    &_fill_primary::before {
        background-color: $color-primary;
        opacity: 0.6;
    }

    &_fill_dark::before {
        background-color: $color-black;
        opacity: 0.45;
    }
}
