@font-face {
    font-family: 'Nivea';
    src: url('../../fonts/NIVEABrandType/Regular.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}


@font-face {
    font-family: 'Nivea';
    src: url('../../fonts/NIVEABrandType/Bold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
}
