$gap: 12px;
$columns: 12;

.container {
    margin: 0 auto;
}

.container,
.container-fluid {
    width: 100%;
    padding: 0 $gap;
    position: relative;
}

.row {
    margin: (-$gap) (-$gap) 0;
    display: flex;
    flex-wrap: wrap;

    & + & {
        margin-top: 0;
    }
}

[class|='col'] {
    width: 100%;
    margin-top: $gap * 2;
}

.col {
    flex: 1 0;
}

.col-auto {
    width: auto;
}

@for $i from 1 through $columns {
    .col-#{$i} {
        width: 100% / $columns * $i;
        flex: 0 0 (100% / $columns * $i);
    }
}
