$font-primary: 'Nivea', serif;
$color-primary: #0032A0;
$color-primary-active-dark: #01216b;
$color-primary-active-white: #6d9dfc;
$color-text: #555;
$color-text-active: darken($color-text, 10%);
$color-gray: #f8f8f8;
$color-white: #fff;
$color-white-darker: darken($color-white, 15%);
$color-white-darkest: darken($color-white, 30%);
$color-black: #000;
$color-white-line: #EFF5FA;

%transition {
    transition: 0.4s ease;
}
